table{
    border-collapse: collapse;
    width: 100%;
}
th,td{
    padding: 8px;
    text-align: left;

}
th{
    background-color: antiquewhite;

}
td{
    text-transform: capitalize;
}
.reprovado{
    background-color: red;
    color: black;
}
.aprovado{
    background-color: forestgreen;
    color: aliceblue;
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 10px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px ;
    margin: 10px;
}
button{
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: green;
    box-shadow: 5px 5px 5px ;
    cursor: pointer;
}